.img1 {
    width: 55%;
    height: auto;
  }
  
  .button1 {
    font-family: 'Dosis', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 30px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .button1:hover {
    background-color: white;
    color: black;
  }

  .img2 {
    width: 70%;
    height: auto;
  }
  
  .button2 {
    font-family: 'Dosis', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 30px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .button2:hover {
    background-color: white;
    color: black;
  }

  .img3 {
    width: 80%;
    height: auto;
  }
  
  .button3 {
    font-family: 'Dosis', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 30px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .button3:hover {
    background-color: white;
    color: black;
  }

  .img4 {
    width: 25%;
    height: auto;
  }
  
  .button4 {
    font-family: 'Dosis', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 30px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .button4:hover {
    background-color: white;
    color: black;
  }

  .title1{
    font-family: 'Dosis', sans-serif;
  }

  .player1{
    font-family: 'Dosis', sans-serif;
  }

  .computer1 {
    font-family: 'Dosis', sans-serif;
  }

  .scoreplayer {
    font-family: 'Dosis', sans-serif;
  }

  .scorecomputer {
    font-family: 'Dosis', sans-serif;
  }
  
  .result1 {
    font-family: 'Dosis', sans-serif;
  }

  .result2 {
    font-family: 'Dosis', sans-serif;
  }

  .choice1{
    font-family: 'Dosis', sans-serif;
    text-align: center;
  }

  .restart1 {
    font-family: 'Dosis', sans-serif;
  }
  